header {
    display: flex;
    justify-content: center;
    font-family: 'Epilogue';
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 26, 37, 0.5);
    mix-blend-mode: hard-light;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    margin: auto;
    margin-top: 100px;

}

.div-planeta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cartoes {
    background: rgba(24, 26, 37, 0.5);
    mix-blend-mode: hard-light;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    width: 90%;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 10px;
    place-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
}

.nome-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-teste {
    background: rgba(24, 26, 37, 0.5);
    height: 150px;
    width: 90%;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: justify;
}

.div-teste span {
    font-size: 20px;

}